# render images digests image with /images_digests.json file
# . is dict with next params
#   SOURCE_REPO - SOURCE_REPO env value
#   Images - map from images_versions.yml
{{- define "ssh_static_artifact" }}
{{- $context := . -}}

---
image: ssh-static
final: false
from: {{ index $.Images "builder/distroless" }}
packages:
- type: os-pm
  spec: [ssh-static, coreutils]
shell:
  install:
  - mkdir -p /ssh/bin
  - cp -L /usr/bin/ssh /usr/bin/ssh-add /usr/bin/ssh-agent /usr/bin/scp /ssh/bin/
{{- end }}
